<div class="container">
    <div class="row mt-4">
        <h2 class="jow-titling">{{ 'PUBLICATIONS_GENERAL_TITLE' | translate }}</h2>

        <div *ngFor="let year of getPublicationYears()">
            <h5 class="mt-4 jow-subtitling">{{ 'PUBLICATIONS_YEAR_TITLE' | translate }} {{ year }}</h5>
            <hr/>
            <div *ngFor="let publication of getPublicationsByYear(year)" class="mb-4">
                <div class="row" [attr.id]="publication.id" #jowPubBinding>
                    <div class="col-2 jow-img-div" [routerLink]="['/publications', publication.id]">
                        <!-- <i class="bi bi-image jow_pub_img"></i> -->
                        <img class="jow-pub-img" [src]="'assets/img/' + publication.mainImg" >
                    </div>
                    <div class="col-10">
                        <div [routerLink]="['/publications', publication.id]">
                            <div class="jow-cursor-pointer jow-publication-title">{{ publication.title }}</div>
                            <div>
                                <span class="text-muted jow-publication-authors" *ngFor="let author of publication.authors; let i = index">
                                    {{ author }}<span *ngIf="i < publication.authors.length-1">; </span>
                                </span>
                            </div>
                            <div>{{ publication.journal }}, {{ publication.year }}</div>
                        </div>
                        <span *ngIf="publication.url != ''">
                            <i class="bi bi-link"></i><a target="_blank" href="{{ publication.url }}" style="z-index: 1;"> {{ 'PUBLICATIONS_PDF_LINK' |translate }} </a><br/>
                        </span>
                        <i class="bi bi-link"></i><a href="assets/bibtex/{{ publication.id }}.bib" style="z-index: 1;"> {{ 'PUBLICATIONS_BIBTEX_LINK' |translate }} </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>