.jow-lecturing-year {
    font-style: italic;
}

.jow-lecturing-name {
    font-weight: bold;
}

.jow-lecturing-summary {
    color: var(--jow-red);
}

.jow-lecturing-tags {
    display: inline-block;
}