@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

body {
    font-family: 'Roboto';
    padding-top: 65px;
    padding-bottom: 30px;
}

span {
    white-space: pre;
}

.jow-navbar, .jow-footer {
    background-color: var(--bs-gray-200);
}

.jow-navbar-brand, .jow-footer-brand {
    color: var(--jow-red);
}

.jow-titling {
    color: var(--jow-red);
}

.jow-subtitling {
    color: var(--jow-red);
    font-style: italic;
}

.jow-paragraph {
    text-align: justify;
    text-justify: inter-word;
}

.jow-bullet {
    margin-right: 0.5em;
}

.jow-publication-title {
    font-weight: bold;
}

.jow-publication-authors {
    font-style: italic;
    display: inline-block;
}

.jow-cursor-pointer{
    cursor: pointer;
}

.jow-back-arrow {
    font-size: 24px;
}