@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.md div.title {
  font-family: 'Russo One', Arial;
  font-size: 200%;
  letter-spacing: 2px;
}

body#md {
  font-family: Roboto, Arial, Helvetica, "sans serif";
  text-align: justify;
}

.md hr {
  height: 0px;
  border: none;
  border-top: 0.1pt solid rgb(120, 120, 120);
}

.md h1, .md h2, .md h3, .md h4, .md h5, .md h6, .md div.nonumberh1, .md div.nonumberh2,.md div.nonumberh3, .md div.nonumberh4, .md div.nonumberh5, .md div.nonumberh6 {
  font-family: 'Russo One', Arial;
  font-size: 150%;
  padding-bottom: 0px;
  letter-spacing: 2px;
}

.md h2, .md .nonumberh2 {
  font-size: 125%;
}

.md h3, .md h4, .md h5, .md h6, .md div.nonumberh3, .md div.nonumberh4, .md div.nonumberh5, .md div.nonumberh6 {
  font-size: 115%
}

.md pre.listing {
  background: rgb(220, 220, 220);
  padding: 0%;
}

.md .tilde code, .md .backtick code {
  color: rgb(0, 0, 0);
}

.md pre.listing span.line{
  margin-left:10px;
}

.md pre.listing .linenumbers span.line:before{
  width:20px;
  margin-left:0px;
  padding-right:10px;
  margin-right:0px;
  color:rgb(40, 40, 40);
}

@media screen {

  .md div.title {
    color: rgba(176, 215, 225);
  }
  
  .md a:link, .md a:visited{
    color:rgb(241, 128, 45);
    font-family: Arial, Helvetica, "sans serif";
  }
  
  .md h1, .md h2, .md h3, .md h4, .md h5, .md h6, .md div.nonumberh1, .md div.nonumberh2,.md div.nonumberh3, .md div.nonumberh4, .md div.nonumberh5, .md div.nonumberh6 {
    color: rgba(176, 215, 225);
    border-color: rgb(241, 128, 45);
  }

  body#md {
    /* background: rgb(18, 55, 64); */
    background: rgb(40,40,40);
    color: rgb(246, 246, 246);
    font-family: Roboto, Arial, Helvetica, "sans serif";
    text-align: justify;
  }

  .md svg.diagram {
    stroke: rgb(246, 246, 246);
    fill: rgb(246, 246, 246);
  }

  .md svg.diagram .opendot {
    fill: rgb(0, 0, 0);
  }

  .md table.table td {
    border: 1px solid rgb(176, 215, 225);
  }

  .md table.table th {
    background: rgba(18, 55, 64);
    border: 1px solid rgb(176, 215, 225);
  }

  .md table.table tr:nth-child(even) {
    background-color: rgba(84, 154, 171, 0.5);
  }
  .md table.table tr:nth-child(odd) {
    background-color: rgba(240, 127, 45, 0.5);
  }

}

div.markdeepFooter {
  display: none;
}